<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Edit Post</title>

        <style>
            form {
                display: flex;
                flex-direction: column;
            }
        </style>
    </head>
    <body>
        <form action="../edit/update" method="post">
            <label>
                post id:
                <input
                    name="post_id"
                    value="{{ post.post_id | escape }}"
                    required />
            </label>
            <label>
                title:
                <input
                    name="title"
                    value="{{ post.title | escape  }}"
                    required />
            </label>
            <label>
                subtitle:
                <input name="subtitle" value="{{ post.subtitle | escape }}" />
            </label>
            <label>
                feature image path:
                <input name="feature_image" value="{{ post.feature_image }}" />
            </label>
            <label>
                feature image caption:
                <input name="feature_image_caption" value="{{ post.feature_image_caption | escape }}" />
            </label>
            <label>
                content:
                <textarea name="content" required>{{ post.content | escape }}</textarea>
            </label>
            <label>
                tags:
                <input name="tags" value="{{ post.tags | escape }}" />
            </label>
            <input
                name="date"
                id="date"
                type="text"
                value="{{ post.date }}"
                hidden />
            <label>
                date:
                <input
                    type="datetime-local"
                    id="change-date"
                    onchange="setDateValue(this.value)" />
            </label>
            <button type="submit">update</button>
        </form>
        <button onclick="deletePost('{{ post.post_id | escape }}')">delete</button>
        |
        <a href="../edit">back to all posts</a>

        <script>
            // sync the datetime-local input with the timestamp in the database
            const origDate = document.querySelector("#date").value,
                localDate = origDate
                    ? new Date(origDate)
                    : new Date(),
                pad = num => ("" + num).padStart(2, "0"),
                mm = pad(localDate.getMonth() + 1),
                dd = pad(localDate.getDate()),
                yyyy = pad(localDate.getFullYear()),
                hh = pad(localDate.getHours()),
                mi = pad(localDate.getMinutes()),
                parsed = `${yyyy}-${mm}-${dd}T${hh}:${mi}`;
            document.querySelector("#change-date").value = parsed;

            function deletePost(id) {
                if (confirm("Delete post?")) {
                    window.location.href = `../edit/delete?id=${id}`;
                }
            }

            function setDateValue(localTime) {
                document.querySelector('#date').value = localTime + getTZOffset(localTime);

                function getTZOffset(timestamp) {
                    const minutesOffset = new Date(timestamp).getTimezoneOffset(),
                        hours = minutesOffset / 60,

// minutesOffset reflects how far ahead GMT is,
// therefore invert it to get your timezone relative to GMT
                        num = hours * -1,
                        prefix = num >= 0
                            ? "+"
                            : "-",
                        offset = ("" + Math.abs(num)).padStart(2, "0");
                    return prefix + offset + ":00";
                }
            }
        </script>
    </body>
</html>