<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Edit Post</title>
        <style>
            input,
            textarea {
                width: 100%;
            }
            {% include 'css/style.css' %}
        </style>
    </head>
    <body>
        <header>
            <h1>Edit Post</h1>
        </header>
        <main>
            <form action="./{{ dirNameUpdate }}" method="POST">
                <label for="post-id">
                    post id:
                </label>
                <input
                    id="post-id"
                    name="post_id"
                    value="{{ post.post_id | escape }}"
                    required />
                <label for="title">
                    title:
                </label>
                <input
                    id="title"
                    name="title"
                    value="{{ post.title | escape  }}"
                    required />
                <label for="subtitle">
                    subtitle:
                </label>
                <input
                    id="subtitle"
                    name="subtitle"
                    value="{{ post.subtitle | escape }}" />
                <label for="feature-image-path">
                    feature image path:
                </label>
                <input
                    id="feature-image-path"
                    name="feature_image"
                    value="{{ post.feature_image }}" />
                <label for="feature-image-caption">
                    feature image caption:
                </label>
                <input
                    id="feature-image-caption"
                    name="feature_image_caption"
                    value="{{ post.feature_image_caption | escape }}" />
                <label for="content">
                    content:
                </label>
                <textarea
                    id="content"
                    name="content"
                    required>{{ post.content | escape }}</textarea>
                <label for="tags">
                    tags:
                </label>
                <input
                    id="tags"
                    name="tags"
                    value="{{ post.tags | escape }}" />
                <input
                    id="date"
                    name="date"
                    type="text"
                    value="{{ post.date }}"
                    hidden />
                <label for="change-date">
                    date:
                </label>
                <input
                    id="change-date"
                    type="datetime-local"
                    onchange="setDateValue(this.value)" />
                <button type="submit">update</button>
            </form>
        </main>
        <footer>
            <button onclick="deletePost('{{ post.post_id | escape }}')">
                delete
            </button>
            |
            <a href="./{{ dirNameHome }}" class="button-link">back to all posts</a>
        </footer>

        <script>
            // sync the datetime-local input with the timestamp in the database
            const origDate = document.querySelector("#date").value,
                localDate = origDate
                    ? new Date(origDate)
                    : new Date(),
                pad = num => ("" + num).padStart(2, "0"),
                mm = pad(localDate.getMonth() + 1),
                dd = pad(localDate.getDate()),
                yyyy = pad(localDate.getFullYear()),
                hh = pad(localDate.getHours()),
                mi = pad(localDate.getMinutes()),
                parsed = `${yyyy}-${mm}-${dd}T${hh}:${mi}`;
            document.querySelector("#change-date").value = parsed;
            setDateValue(parsed);

            function deletePost(id) {
                if (confirm("Delete post?")) {
                    window.location.href = `./{{ dirNameDelete }}?id=${id}`;
                }
            }

            function setDateValue(localTime) {
                document.querySelector('#date').value = localTime + getTZOffset(localTime);

                function getTZOffset(timestamp) {
                    const minutesOffset = new Date(timestamp).getTimezoneOffset(),
                        hours = minutesOffset / 60,

// minutesOffset reflects how far ahead GMT is,
// therefore invert it to get your timezone relative to GMT
                        num = hours * -1,
                        prefix = num >= 0
                            ? "+"
                            : "-",
                        offset = ("" + Math.abs(num)).padStart(2, "0");
                    return prefix + offset + ":00";
                }
            }
        </script>
    </body>
</html>