<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>All Posts</title>
        <style>
            {% include 'css/style.css' %}
        </style>
    </head>
    <body>
        <header>
            <h1>All Posts</h1>
            <a href="./{{ dirNamePost }}" class="button-link">write new post</a>
            <button onclick="handleSignOut()">
                sign out
            </button>
        </header>
        <main>
            <ul>
                {% for post in allPosts %}
                    <li>
                        <small class="date">{{ post.date }}</small>
                        <br/>
                        <a href="./{{ dirNamePost }}?id={{ post.post_id }}">
                            {{ post.title }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </main>

        <script>
            async function handleSignOut() {
                await fetch("./signout", {method: "post"})
                    .then((res) => res.text())
                    .then((text) => {
                        console.log(text);
                        window.location.reload();
                    })
                    .catch((err) => console.error(err));
            }

            document.querySelectorAll(".date").forEach((elem) => {
                const date = new Date(elem.textContent),
                    formatted = date.toLocaleDateString("en-us", {
                        weekday: "short",
                        year: "numeric",
                        month: "long",
                        day: "numeric",
                        hour: "numeric",
                        minute: "2-digit"
                    });
                elem.innerText = `${formatted}`;
            });
        </script>
    </body>
</html>